# Must be a user token
GOTIFY_TOKEN=<user_token>

# http(s)://ip_or_dns_name:port
GOTIFY_URL=<gotify_url>

#APPNAME_ICON=url_to_icon
ADGUARD_ICON=https://raw.githubusercontent.com/homarr-labs/dashboard-icons/refs/heads/main/png/adguard-home.png
